.widget-category-catalog a {
    margin-left: 0 !important;
    font-weight: 500 !important;
}

.widget-category-catalog .active {
    color: #fe0101;
    font-weight: bold !important;
}
.widget-category-catalog {
    border-radius: 5px;
    padding: 20px 10px 10px 20px;
    background-color: #f7f7f7;
    margin-bottom: 20px;
}

.disabledPagination{
    display: inline-block;
    width: 43px;
    height: 43px;
    text-align: center;
    line-height: 43px;
    font-size: 16px;
    border-radius: 100%;
    color: #fe0101;
    -webkit-box-shadow: 0 0px 12px 0.8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0px 12px 0.8px rgba(0, 0, 0, 0.1);
    background-color: #f6f6f6;
}

.modification{
    font-size: 16px;
}

.modification li{
    padding: 0px;
}
.modification li span{
    border: 1px solid #ccc;
    color: #fff;
    background-color: #9e9e9e;
    padding: 2px 3px 2px 3px;
    margin-right: 2px;
    font-size: 12px;
    width: 80px;
    text-align: center;

}
.modification .pro-details-quality{
    margin-top: 10px;
    margin-bottom: 10px;
}

.modification .pro-details-quality .cart-plus-minus, .modification .pro-details-quality .cart-plus-minus input{
    height: 40px !important;
}
.modification .pro-details-quality .cart-plus-minus .qtybutton{
    line-height: 0px !important;
}
.modification .pro-details-quality .pro-details-cart a{
    padding: 12px 20px 12px;
}
.mod-price{
    color: #fff;
    background-color: #fe0101 ;
    padding: 1px;
    border: 1px solid #fe0101;
    border-radius: 2px;
}